mixin item(title, url)
    li
        a(href=url, class=active == title ? 'active' : '')= title

mixin lists(title, url, className)
    li
        if url == ""
            a(href="#", class=className)= title
        else
            a(href=url, class=className)= title

mixin iconSvg(w, h, id)
    svg(width=w height=h class=id)
        use(xlink:href="/images/icons/sprites.svg#"+id)

mixin mixinSvg(w, h, idIcon, className)
    svg(width=w height=h class=className)
        use(xlink:href="/images/icons/sprites.svg#"+idIcon)

mixin iconSvgSocial(w, h, wp, id)
    svg(width=w height=h viewBox=wp class=id)
        use(xlink:href="/src/blocks/social-link/assets/img/social-sprites.svg#" + id)

mixin img(image, addClass, altImg)
    if altImg == ""
        img(src=image alt="Title Image" class=addClass)
    else
        img(src=image alt=altImg class=addClass)

mixin radioInput(checked, text)
    label.radio-button.radio-button--full-style
        if checked == true
            input.radio-button__input(type="radio" name="radio" checked="checked")
        else
            input.radio-button__input(type="radio" name="radio")
        span.radio-button__text
            span.radio-button__status
            span=text

mixin checkInput(checked, name, size, price, src)
    label.checkbox-button
        if checked == true
            input.checkbox-button__input(type="checkbox" checked="checked" required="")
        else
            input.checkbox-button__input(type="checkbox" required="")
        .checkbox-button__text
            .checkbox-button__desc
                span.checkbox-button__status
                span.checkbox-button__name=name
                span.checkbox-button__size=size
            .checkbox-button__price
                span.checkbox-button__sum= price
                span.checkbox-button__bg
                    img(src=src alt="Background product")

mixin checkboxForm(checked, name)
    label.checkbox-form
        if checked == true
            input.checkbox-form__input(type="checkbox" checked="checked" required="")
        else
            input.checkbox-form__input(type="checkbox" required="")
        .checkbox-form__text
            .checkbox-form__status
            p= name

mixin catalogItem(image, name)
    .catalog__item
        .catalog__image-wrapper
            +img(image, "catalog__image", "Product")
        .catalog__name
            p= name